<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script type='text/javascript'>var s=document.createElement('script');s.type='text/javascript';var v=parseInt(Math.random()*1000000);s.src='https://sandbox.gerencianet.com.br/v1/cdn/you-account-identifier/'+v;s.async=false;s.id='you-account-identifier';if(!document.getElementById('you-account-identifier')){document.getElementsByTagName('head')[0].appendChild(s);};$gn={validForm:true,processed:false,done:{},ready:function(fn){$gn.done=fn;}};</script>
<!-- Adicione o código JavaScript que obtém o payment_token -->
<script>
    $gn.ready(function (checkout) {

        checkout.getPaymentToken(
            {
                brand: 'visa', // bandeira do cartão
                number: '4012001038443335', // número do cartão
                cvv: '123', // código de segurança
                expiration_month: '05', // mês de vencimento
                expiration_year: '2021' // ano de vencimento
            },
            function (error, response) {
                if (error) {
                    // Trata o erro ocorrido
                    console.error(error);
                } else {
                    // Trata a resposta
                    console.log(response);
                }
            }
        );
        checkout.getInstallments(
            1000, // valor total da cobrança
            'visa', // bandeira do cartão
            function (error, response) {
                if (error) {
                    // Trata o erro ocorrido
                    console.log(error);
                } else {
                    // Trata a respostae
                    console.log(response);
                }
            }
        );

    });
</script>
</body>
</html>
